/** LIGHT THEME */
$background: black;
$primary: #710908;
// $danger: blue;
$secondary: #111111;

$red: #FF0033;
$blue: #006DFF;
$light: #fff;
$dark: #000;

$widht: 100%;
$vwidht: 100vw;
$vheight: 100vh;
$height: 100%;

$borderSize: 1px;
$transition: 1s;

$fontFamily: "tajawal", sans-serif;

$fontSize : 1rem;
$h1: $fontSize*4;
$h2: $fontSize*3;
$h3: $fontSize*2;
$h4: $fontSize;
$h5: $fontSize*0.7;
$h6: $fontSize*0.5;
$body1: $fontSize;
$body2: $fontSize;
$subtitle1: 15;
$subtitle2: 13;
$button: 13;
$overline: 10;
$caption: 12;

$radius: 5px;
