.hada{
   
}
.home-shop{
    background-position: center center;
    background-size: 120%;
    background-repeat: no-repeat;
    .grid{
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-gap: 32px;
        .item{
            .product-card{
                transition: $transition/3;
                z-index: 1;
                &:hover{
                    transform: scale(1.05);
                }
                overflow: hidden;
                border-radius: 5px;
                box-shadow: rgba($blue,0.2) 0px 3px 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .thumbnail{
                    width: $widht;
                    position: relative;
                    background-color: rgba($primary,.03);
                    .sale {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        background-color: $red;
                        color: $white;
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: rgba($red,0.5) 0px 3px 8px;
                        font-size: $fontSize/1.1;
                    }
                    .add-to-cart{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        background-color: $blue;
                        color: $white;
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: rgba($blue,0.5) 0px 3px 8px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}